{% if page and page.meta and page.meta.nocomment %}
{% else %}
  <script src="https://giscus.app/client.js"
  data-repo="AnjaReese/AnjaReese.github.io"
  data-repo-id="R_kgDOKwmQmQ"
  data-category="Show and tell"
  data-category-id="DIC_kwDOKwmQmc4Cbla-"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="light_protanopia"
  data-lang="en"
  crossorigin="anonymous"
  async>
  </script>
  <script>
    if (document.querySelector("body").getAttribute("data-md-color-scheme") === "slate") {
      var giscus = document.querySelector("script[src*=giscus]")
      giscus.setAttribute("data-theme", "https://gcore.jsdelivr.net/gh/TonyCrane/lab-hypotensor/docs/css/giscus.css") 
    }
  </script>
{% endif %}